---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout
    title="About | Sara Given"
    description="About Sara Given - Full-stack software developer and team manager based in Vancouver, BC."
    lang="en"
>
    <div>
        <main>
            <Hero
                title="About"
                tagline="Thanks for taking the time to learn more about me."
            />

            <section class="content">
                <h2>Background</h2>
                <div>
                    <p>
                        I started in web and software development about a decade
                        ago, never planning on it being my career and passion. I
                        started out with WordPress websites for non-profits and
                        friends' side-projects, left my previous career to take
                        a 12-week bootcamp, and now I'm a full-stack developer
                        and team manager. I've worked with legacy codebases,
                        been the lead backend developer as our team built a
                        brand-new web application, and even managed to learn to
                        love SQL.
                    </p>
                    <p>
                        I worked in public education and animal care before
                        switching careers to software nearly 10 years ago. I've
                        since worked as a full-stack developer at a few small
                        tech companies, most recently at an ag-tech company
                        called Semios. About a year ago, I became team manager
                        for one of the product line teams at Semios. (Digital
                        Pest Management, Weather & Frost). Our team includes
                        software developers, UX, QA, data scientists, and
                        product specialists.
                    </p>
                    <p>
                        My background in science combined with my passion for
                        solving hard problems with good people has meant that my
                        journey through software has really been a continuation
                        of my overall career path. The tools and technologies
                        are vastly different these days (and generally less
                        messy than back in my animal care days), but the core of
                        what I want to do hasn't changed.
                    </p>
                    <p>
                        I want to work with a team of people who are passionate
                        about solving hard problems and making the world a
                        better place. I want to be part of a team that is
                        building something that matters. And I want to learn and
                        grow along the way.
                    </p>
                </div>
            </section>
            <section>
                <h2>Education</h2>
                <div>
                    <p>
                        I have an B.Sc. in Ecology from the University of
                        British Columbia. I attended RED Academy in Vancouver,
                        finishing as the top student in the Front-End Web
                        Developer Professional Program. I also have taken a
                        6-month Leadership Coaching Program.
                    </p>
                    <p>
                        I continue my education through online courses when
                        applicable, but truly prefer to learn on the job. This
                        portfolio site, for example, is the result of diving in
                        and learning about Apollo and static site generators.
                        Plus, I wanted to brush up my SASS/CSS skills, and
                        overall front-end UI development without an existing
                        design system to rely on.
                    </p>
                </div>
            </section>
            <section>
                <h2>Skills</h2>
                <div>
                    <p>
                        I'm primarily a full-stack javascript developer, with a
                        focus on Node.js APIs. I've built RESTful APIs, GraphQL
                        APIs, tRPC-esque APIs and many serverless systems. I've
                        worked with a variety of front-end frameworks, but I'm
                        most comfortable with React. I've also worked with AWS,
                        mainly Lambda and ElasticBeanstalk. I've configured
                        Docker containers, written deployment scripts in bash,
                        and CI/CD pipelines with GitHub Actions.
                    </p>
                    <p>
                        Database-wise, I currently work with PostgreSQL,
                        BigQuery, and Redis. I've got fairly extensive
                        experience with Google Cloud Platform, mainly Cloud Run,
                        Cloud Run Functions, and Scheduled Jobs. I'm very
                        experienced working with geospatial data, manipulating
                        complex timeseries data, and have designed APIs and
                        applications that can performantly deliver complex data
                        to clients.
                    </p>
                    <p>
                        I have a strong typescript background in both front-end
                        and back-end development. At my current job, we use a
                        pattern of shared types across our applications, using a
                        monorepo alongside custom tooling for generating many of
                        our typescript types and other shared code.
                    </p>
                    <p>
                        At my current job, I'm one of the folks who develop and
                        implement the deployment systems for our customer-facing
                        applications. We rely mainly on GitHub Actions and
                        Docker for all of our APIs and serverless functions, and
                        then I collaborate across teams to coordinate
                        deployments of applications, data pipelines and other
                        systems.
                    </p>
                </div>
            </section>
        </main>

        <ContactCTA />
    </div>
</BaseLayout>
