---
import { getCollection } from 'astro:content';
import { sortWorkItems } from '../utils/sortWorkItems';
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work')).sort(sortWorkItems);
---

<BaseLayout>
    <div>
        <main>
            <Hero
                title="My Work"
                tagline="Read about some of my projects and experiments to get some sense of my style and past experience."
                align="start"
            />
            <Grid>
                {
                    projects.map((project) => (
                        <li>
                            <PortfolioPreview project={project} />
                        </li>
                    ))
                }
            </Grid>
        </main>
        <ContactCTA />
    </div>
</BaseLayout>
