---
interface Props {
    title: string;
    tagline?: string;
    align?: 'start' | 'center';
}

const { align = 'center', tagline, title } = Astro.props;
---

<section
    class:list={[
        'hero',
        {
            'has-text-centered': align === 'center',
            'has-text-left': align === 'start',
        },
    ]}
>
    <div class="hero-body">
        <p class="title">{title}</p>
        <p class="subtitle">{tagline}</p>
        <slot />
    </div>
</section>
